<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <!-- Start Gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="true"/>
        <arg name="world_name" value="$(find viv_gazebo)/worlds/empty_no_shadow.world"/>
    </include>

    <!-- Spawn ViV with controls -->
    <arg name="robot_namespace" default="viv"/>
    <arg name="x_location" default="0.0"/>
    <arg name="y_location" default="0.0"/>
    <arg name="z_location" default="0.1"/>

    <include file="$(find viv_gazebo)/launch/spawn_viv.launch">
        <arg name="robot_namespace" value="$(arg robot_namespace)"/>
        <arg name="x_location" value="$(arg x_location)"/>
        <arg name="y_location" value="$(arg y_location)"/>
        <arg name="z_location" value="$(arg z_location)"/>
    </include>

    <include file="$(find viv_gazebo)/launch/spawn_random_vineyard.launch"/>

</launch>
