<?xml version="1.0"?>
<launch>

  <arg name="joy_dev" default="/dev/input/js0" />

    <group ns="joy_teleop">

        <rosparam command="load" file="$(find viv_control)/config/teleop_logitech.yaml" />
        <param name="joy_node/dev" value="$(arg joy_dev)" />

        <node pkg="joy" type="joy_node" name="joy_node" />
        <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_twist_joy"/>

    </group>

</launch>
