<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="viv">

    <!-- Arguments -->
    <xacro:arg name="robot_namespace" default="/" />

    <xacro:arg name="sim" default="false" />
    <xacro:property name="sim" value="$(arg sim)" />
    <xacro:arg name="spawn_d435" default="true" />
    <xacro:property name="spawn_d435" value="$(arg spawn_d435)" />

    <xacro:include filename="$(find viv_description)/urdf/viv_description_no_ros_control.urdf.xacro" />


    <xacro:if value="${sim}">
      <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
          <robotNamespace>$(arg robot_namespace)</robotNamespace>
        </plugin>
      </gazebo>
    </xacro:if>

</robot>
