<launch>

    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find viv_description)/urdf/viv_description_no_ros_control.urdf.xacro"/>

    <rosparam file="$(find viv_control)/config/diff_drive_control.yaml" command="load" />

    <node name="viv_diff_drive_controllers_spawner" pkg="controller_manager" type="spawner" respawn="false" 
        output="screen" args="viv_velocity_controller" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <node pkg="twist_mux" type="twist_mux" name="twist_mux">
        <rosparam command="load" file="$(find viv_control)/config/twist_mux.yaml" />
        <remap from="cmd_vel_out" to="viv_velocity_controller/cmd_vel"/>
    </node>

</launch>